body{
    background: white;
    color: black;
    margin: 0;
}
.zhuanTi{
    color: white;
    background: #66ccff;
    font-size: 24px;
    margin: 5px 0;
    padding: 0 5px;/*一会再调参数*/
    font-weight: 600;
}
.gongGao{
    list-style: none;
    color: #66ccff;
    font-size: 20px;
    margin: 5px 0;
    padding: 0 0 0 5px;
}