body{
    background: white;
    color: black;
}
#tianyi{
    margin: 0 5px;
}
.title{
    color: white;
    background: #00ccff;
    font-size: 35px;
}
.zhuanTi{
    color: white;
    background: #00ccff;
}
.yeMian{
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-decoration: none;
    }
.yeMian:hover{
    color: blue;
    font-size: 20px;
    text-decoration: none;
}